.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  box-shadow: none;
  color: aliceblue;
  font-family: 'Manrope', sans-serif;
  font-size: 45px;
}

.nav h2 {
  font-size: 20px;
  margin: 0;
}

.nav a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  font-size: 16px;
  margin-left: 10px;
}

.nav a:hover {
  color: rgb(4, 52, 2);
}
