.userImage {
  width: 280px;
  height: 280px;
  border-radius: 50%;
}

.User {
  display: flex;
  justify-content: center;
}

.userText {
  padding-top: 50px;
  padding-left: 10px;
  padding-bottom: 25px;
}

div.userInfo td {
  color: rgb(189, 192, 195) !important;
}

.img{
  margin-right: 10px;
}