.main,
.main input {
  font-family: 'Manrope', sans-serif;
}

.main {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: flex-end;
  align-content: center;
  background-color: transparent;
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;
  right: 0;
  margin-right: 100px; 
  margin-bottom: 40px;
}

.main,
.main input {
  font-family: 'Manrope', sans-serif;
}

.main form {
  display: flex;
  flex-direction: column;
  width: 700px; 
  background-color: transparent;
  border-radius: 4px;
  border: 4px;
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;
  margin-bottom: 100px;
}

.main .title1 {
  font-family: 'Manrope', sans-serif;
  font-size: 25px;
  width: 450px;
  margin-left: 30px;
}

.main .title2 {
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  margin-left: 150px;
  color: rgb(161, 174, 185);
}


.main input[type="text"] {
  color: whitesmoke;
  background: rgba(36, 40, 63, 0.739);
  border-color: transparent;
  padding: 15px 16px;
  width: 450px;
  border-radius: 4px;
  margin-bottom: 24px;
  font-family: 'Manrope', sans-serif;
}

.main input[type="date"] {
  background: rgba(36, 40, 63, 0.739);
  padding: 15px 16px;
  width: 450px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 24px;
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;
}

.main input[type="number"] {
  background: rgba(36, 40, 63, 0.739);
  padding: 15px 16px;
  width: 450px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 4px;
  margin-bottom: 24px;
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;
}

.main input[type="submit"] {
  padding: 15px 16px;
  width: 490px;
  border-radius: 4px;
  margin-bottom: 24px;
  background: rgb(13, 55, 38);
  text-align: center;
  cursor: pointer;
  outline: none;
  border-color: transparent;
  color: whitesmoke;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

  .checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 30px;
  }

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: default;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 13px;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }


  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
  } 

.main .result {
  font-weight: bold;
  margin-top: 40px;
  font-family: 'Manrope', sans-serif;
}

.modal {
  position: fixed;
  top: 38%;
  left: 40%;
  width: 300px;
  height: 300px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.modalContent {
  background: transparent;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Manrope', sans-serif;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(13, 55, 38);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
  font-family: 'Manrope', sans-serif;
}

.label{
  color: rgb(161, 174, 185);
  font-size: 12px;
  margin-bottom: 2px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



  .checkbox-wrapper-1 *,
  .checkbox-wrapper-1 ::after,
  .checkbox-wrapper-1 ::before {
    box-sizing: border-box;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted {
    margin: 0;
    width: 0;
    height: 0;
    display: inline;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted + label:before {
    content: "";
    display: inline-block;
    vertical-align: top;
    height: 1.15em;
    width: 1.15em;
    margin-right: 0.6em;
    color: rgba(0, 0, 0, 0.275);
    border: solid 0.06em;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em inset, 0 0 0 0.07em transparent inset;
    border-radius: 0.2em;
    background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="white" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>') no-repeat center, white;
    background-size: 0;
    will-change: color, border, background, background-size, box-shadow;
    transform: translate3d(0, 0, 0);
    transition: color 0.1s, border 0.1s, background 0.15s, box-shadow 0.1s;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:enabled + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset;
    background-color: #f0f0f0;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked + label:before {
    background-color: #3B99FC;
    background-size: 0.75em;
    color: rgba(0, 0, 0, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:checked:enabled + label:active:before {
    background-color: #0a7ffb;
    color: rgba(0, 0, 0, 0.275);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:focus:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted:focus + label:active:before {
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(0, 0, 0, 0.1) inset, 0 0 0 3.3px rgba(65, 159, 255, 0.55), 0 0 0 5px rgba(65, 159, 255, 0.3);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted:disabled + label:before {
    opacity: 0.5;
  }

  .checkbox-wrapper-1 [type=checkbox].substituted.dark + label:before {
    color: rgba(255, 255, 255, 0.275);
    background-color: #222;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xml:space="preserve" fill="rgba(34, 34, 34, 0.999)" viewBox="0 0 9 9"><rect x="0" y="4.3" transform="matrix(-0.707 -0.7072 0.7072 -0.707 0.5891 10.4702)" width="4.3" height="1.6" /><rect x="2.2" y="2.9" transform="matrix(-0.7071 0.7071 -0.7071 -0.7071 12.1877 2.9833)" width="6.1" height="1.7" /></svg>');
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:enabled + label:active:before {
    background-color: #444;
    box-shadow: 0 0 0.04em, 0 0.06em 0.16em -0.03em transparent inset, 0 0 0 0.07em rgba(255, 255, 255, 0.1) inset;
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked + label:before {
    background-color: #a97035;
    color: rgba(255, 255, 255, 0.075);
  }
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled:active + label:before,
  .checkbox-wrapper-1 [type=checkbox].substituted.dark:checked:enabled + label:active:before {
    background-color: #c68035;
    color: rgba(0, 0, 0, 0.275);
  }