.profile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carouselContainer {
  display: flex;
  justify-content: center;
}

.favTitle {
  padding-top: 50px;
  padding-bottom: 15px;
  padding-left: 200px;
}
